header{
	/*font-family: Shrikhand;*/
	width:100%;
	border-bottom-style: solid;
	border-color:#3d85c6;
	text-align: center;
	margin-bottom: 2%;
	z-index: 1;
	/*background-color:rgba(104, 198, 144, 0.5);
	border-top-style: solid;
	border-width:5px;
	position: fixed;
	opacity: 1.0;
	transition: background-color 1.0s ease;
	z-index: 1;
	transition: opacity .5s ease-in-out;*/
}

#categories_hbutton{
	/*id for the hamburger button*/
	border-radius: 50%;
	background-color: #3d85c6;
	color:whitesmoke;
	font-size: 60px;
	height: 80px;
	width: 80px;
	align-items: center;
	justify-content: center;
}

#categories{
	/*padding-top:2%;*/
	padding-bottom:2%;
	text-align: center;
	overflow: hidden;
}

#categories h1{

}

#categories button{
	float:left;
}

.menu a{
	/*these are the main buttons that come out of the categories menu*/
	display:inline-block;
	border-style: solid;
	border-radius: 20px;
	border-color: #3d85c6;
	background-color: #cfe2f3;
	margin: 2%;
	padding: 2%;
	font-size: 1.2em;
	color:black;
	/*transition: color .5s ease-in-out, background-color .5s ease-in-out;*/
	/*text-decoration: none;*/
}

.menu a:hover{
	background-color: #3d85c6;
	color:whitesmoke;
}

.menu {
	position: fixed;
	top: 0;
	left: -20%;
	width: 20%;
	height: 100%;
	background-color: #cfe2f3;
	/*color: #396140;*/
	transition: all 0.3s ease-in-out;
	z-index: 4;
	text-align: left;
}

.menu.open {
	left: 0;
}

.menu_close{
	border-radius: 20px;
	font-size: 50px;
	position: fixed;
	top: 0;
	left: -50px;
	/*width: 50px;
	height: 50px;*/
	background-color: #3d85c6;
	color:whitesmoke;
	transition: all 0.3s ease-in-out;
	z-index: 4;
}

.menu_close.show{
	left:22%;
}

/*.styled:active {
  box-shadow:
    inset -2px -2px 3px rgba(255, 255, 255, 0.6),
    inset 2px 2px 3px rgba(0, 0, 0, 0.6);
}*/

body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    text-align: center;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}

.main_head {
    color: #007BFF;
    margin-bottom: 20px;
}

.top_label {
    display: block;
    margin-bottom: 10px;
    font-size: 18px;
    color: #333;
}

#userInput {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 16px;
}

#generateButton {
    background-color: #007BFF;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
}

/*.output {
   margin-top: 30px;
   text-align: left;
}

.output p {
  font-size: 18px;
	line-height: 1.5;
  margin: 0 0 20px;
  color: #333;
}*/